@font-face {
  font-family: 'Jeff Script';
  src: url('/assets/fonts/JeffScript.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-family: 'Montserrat', sans-serif;
$second-family: 'Jeff Script', sans-serif;
$third-family: 'Alumni Sans', sans-serif;
