<section class="about-me">
  <div class="container">

    <div class="about-me__wrapper">
      <div class="about-me__image"></div>

      <div class="about-me__content">
        <div class="about-me__title">
          <svg class="about-me__title-icon">
            <use
              xlink:href="../img/svg/symbol-defs.svg#about_me"></use>
          </svg>
        </div>
        <h2 class="about-me__title_mobile">Про мене</h2>

        <div class="about-me__image_mobile">
          <img src="../img/mobPngWebp1x/myPhotoMob1x.webp" width="355"
            height="533" alt="Моє фото">
        </div>

        <div class="about-me__description">
          <p class="about-me__name">
            Анна Кострома
          </p>

          <p class="about-me__subname">
            Засновниця кондитерської Grann Pastry
          </p>

          <p class="about-me__text">
            Від хобі до власної справи.
          </p>

          <p class="about-me__text">Я закінчила DGF International Culinary
            School
            в
            Києві, а згодом навчалася в одній з найвідоміших шкіл готельного
            сервісу
            і кулінарії в світі «Le Cordon Bleu» (Франція).Свою справу почала
            після
            того, як здобула досвід і працювала в одному з найбільших
            кондитерських
            цехів Грузії (1500 кв.м.).
          </p>

          <p class="about-me__text">
            Наразі започаткувала особистий бренд і будую власний кондитерський
            цех.Моя робота мене надихає. Завдяки моїм солодощам, я можу дарувати
            щасливі моменти для вас!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>