<section class="bestsellers">
    <h2 class="bestsellers__title">Бестселлери</h2>
    <div class="bestsellers__slider_mobile swiper">
      <div class="swiper-wrapper bestsellers__slider_mobile-wrapper">

        <div class="swiper-slide bestsellers__slider_mobile-slide_mobile">
          <load src="./product_item.html" />
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider_mobile-slide_mobile">
          <load src="./product_item.html" />
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider_mobile-slide_mobile">
          <load src="./product_item.html" />
          <load src="./product_item.html" />
        </div>
      </div>

      <div class="bestsellers__slider_mobile-buttons">
        <div class="swiper-button-prev bestsellers__slider_mobile-btn_prev">
          <svg class="delivery-item__icon">
            <use xlink:href="../img/svg/symbol-defs.svg#arrleft"></use>
          </svg>
        </div>

        <div class="swiper-pagination bestsellers__slider_mobile-pagination"></div>

        <div class="swiper-button-next bestsellers__slider_mobile-btn_next">
          <svg class="delivery-item__icon">
            <use xlink:href="../img/svg/symbol-defs.svg#arrright"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="bestsellers__slider swiper">
      <div class="swiper-wrapper bestsellers__slider-wrapper">

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
        </div>
      </div>

      <div class="bestsellers__slider-buttons">
        <div class="swiper-button-prev bestsellers__slider-btn_prev">
          <svg class="delivery-item__icon">
            <use xlink:href="../img/svg/symbol-defs.svg#arrleft"></use>
          </svg>
        </div>

        <div class="swiper-pagination bestsellers__slider-pagination"></div>

        <div class="swiper-button-next bestsellers__slider-btn_next">
          <svg class="delivery-item__icon">
            <use xlink:href="../img/svg/symbol-defs.svg#arrright"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="bestsellers__button">
      <a class="bestsellers__button-btn" href="../list.html" data-open="catalog">Переглянути весь
        асортимент</a>
    </div>
</section>