<section class="bestsellers">
  <div class="container">
<h2 class="bestsellers__title">Бестселлери</h2>
    <div class="bestsellers__slider swiper">
      <div class="swiper-wrapper bestsellers__slider-wrapper">

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
          <load src="./product_item.html" />
        </div>

        <div class="swiper-slide bestsellers__slider-slide">
          <load src="./product_item.html" />
          <load src="./product_item.html" />
        </div>
      </div>

      <div class="bestsellers__slider-buttons">
        <div class="swiper-button-prev bestsellers__slider-btn_prev"></div>

        <div class="swiper-pagination bestsellers__slider-pagination"></div>

        <div class="swiper-button-next bestsellers__slider-btn_next"></div>
      </div>
    </div>

    <div class="bestsellers__button">
      <button class="bestsellers__button-btn">Переглянути весь асортимент</button>
    </div>
  </div>

</section>