<section class="catalog">
	<h2 class="catalog__title">Каталог</h2>
	<ul class="catalog__listCategories">
		<li class="catalog__categoriesItem">
			<button class="catalog__categoriesBtn" type="button" data-action="cake">Торти</button>
		</li>
		<li class="catalog__categoriesItem">
			<button class="catalog__categoriesBtn" type="button" data-action="cakes">Тістечка</button>
		</li>
		<li class="catalog__categoriesItem">
			<button class="catalog__categoriesBtn" type="button" data-action="shy">Шу</button>
		</li>
		<li class="catalog__categoriesItem">
			<button class="catalog__categoriesBtn" type="button" data-action="pizza">Піцца</button>
		</li>
	</ul>
	<div class="swiper catalog__swiper catalog__containerSwip">
		<ul class="catalog__listSwip swiper-wrapper" data-action="catalog"></ul>
		<div class="catalog__containerPaginSwip">
			<button class="catalog__btnPagin catalog__swipBtn--prev">
				<svg class="catalog__iconPagin">
					<use href="./img/svg/symbol-defs.svg#ArrowLeftCatalog"></use>
				</svg>
			</button>
			<div class="swiper-pagination catalog__pagination"></div>
			<button class="catalog__btnPagin catalog__swipBtn--next">
				<svg class="catalog__swipIcon">
					<use href="./img/svg/symbol-defs.svg#ArrowRightCatalog"></use>
				</svg>
			</button>
		</div>
	</div>
</section>