<section class="catalog">
	<nav aria-label="breadcrumb">
		<ul class="breadcrumb">
			<li class="breadcrumb__item breadcrumb__itemMain">
				<a href="./index.html">Головна</a>
			</li>
			<li class="breadcrumb__item">
				<a href="./list.html">Каталог</a>
			</li>
		</ul>
	</nav>
	<h2 class="catalog__title">Каталог</h2>
      <div class="swiper btn__swiper">
	      <ul class="swiper-wrapper catalog__listCategories">
	      	<li class="swiper-slide catalog__categoriesItem">
	      		<button class="catalog__categoriesBtn" type="button" data-action="cake">Торти</button>
	      	</li>
	      	<li class="swiper-slide catalog__categoriesItem">
	      		<button class="catalog__categoriesBtn" type="button" data-action="cakes">Тістечка</button>
	      	</li>
	      	<li class="swiper-slide catalog__categoriesItem">
	      		<button class="catalog__categoriesBtn" type="button" data-action="shy">Шу</button>
	      	</li>
	      	<li class="swiper-slide catalog__categoriesItem">
	      		<button class="catalog__categoriesBtn" type="button" data-action="pizza">Піцца</button>
	      	</li>
	      </ul>
      </div>
	<div class="swiper catalog__swiper">
		<ul class="catalog__listSwip swiper-wrapper" data-action="catalog">
			<!-- Слайди будуть тут -->
		</ul>
		<div class="catalog__containerPaginSwip">
			<button class="catalog__btnPagin catalog__swipBtn--prev">
				<svg class="catalog__iconPagin">
					<use href="./img/svg/symbol-defs.svg#ArrowLeftCatalog"></use>
				</svg>
			</button>
			<div class="swiper-pagination catalog__pagination"></div>
			<button class="catalog__btnPagin catalog__swipBtn--next">
				<svg class="catalog__iconPagin">
					<use href="./img/svg/symbol-defs.svg#ArrowRightCatalog"></use>
				</svg>
			</button>
		</div>
	</div>
</section>