<article class="catalog-item">
  <img src="../img/mobPngWebp1x/mangoMob1x.webp" alt
    class="catalog-item__image">

  <div class="catalog-item__content">

    <div class="catalog-item__description">
      <h3 class="catalog-item__title">Мусовий торт “Манго-маракуйя”</h3>

      <p class="catalog-item__text">1200 грн/ 3 кг</p>
    </div>

    <a href="../cart.html">
      <svg class="catalog-item__cart">
        <use xlink:href="../img/svg/symbol-defs.svg#cart"></use>
      </svg>
    </a>
  </div>
</article>