<section class="contact-form">
  <div class="container">
    <div class="contact-form__content">
      <div class="contact-form__description">
        <h4 class="contact-form__title">Давайте зробимо щось унікальне
          разом!</h4>

        <p class="contact-form__text">Ви можете замовити свій власний рецепт
          десерту, який вам буде до вподоби. Заповніть заявку та я зв’яжусь з
          вами, аби обговорити деталі замовлення.</p>
      </div>

      <form class="contact-form__form" name="contact-form">
        <label class="contact-form__label"><input class="contact-form__input"
            type="text" placeholder="Ім’я" name="contact-form__name"
            required></label>

        <label class="contact-form__label"><input class="contact-form__input"
            type="text" placeholder="Номер телефону" name="contact-form__phone"
            required></label>

        <textarea
          class="contact-form__textarea" name="contact-form__wishes"
          placeholder="Опишіть ваші побажання:" maxlength="1000"
          required></textarea>

        <button class="contact-form__button" type="submit"
          >Надіслати</button>
      </form>
    </div>
  </div>
</section>