<section class="delivery">
  <div class="container">
    <h2 class="delivery__title">Доставка і оплата</h2>

    <ul class="delivery__list">
      <li class="delivery__item delivery-item">
        <img class="delivery-item__img" src="../img/mobPngWebp1x/" alt="Pickup Icon">
        <h3 class="delivery-item__title">Самовивіз</h3>
        <p class="delivery-item__text">Самовивіз з Печерського р-ну, м. Київ
          </p>
      </li>
      <li class="delivery__item delivery-item">
        <img class="delivery-item__img" src="../img/mobPngWebp1x/" alt="Delivery Icon">
        <h3 class="delivery-item__title">Доставка</h3>
        <p class="delivery-item__text">
          Доставка на таксі (за тарифами служби таксі)</p>
      </li>
      <li class="delivery__item delivery-item">
        <img class="delivery-item__img" src="../img/mobPngWebp1x/" alt="Subscription Icon">
        <h5 class="delivery-item__title">Передплата</h5>
        <p class="delivery-item__text">Передплата на картку в розмірі 50% від суми замовлення</p>
      </li>
    </ul>
  </div>
</section>