<section class="delivery">
  <div class="container">
    <h2 class="delivery__title">Доставка і оплата</h2>

    <ul class="delivery__list">
      <li class="delivery__item delivery-item">
        <svg class="delivery-item__icon">
          <use xlink:href="../img/svg/delivery/symbol-defs.svg#package-box-ui-4-svgrepo-com-1"></use>
        </svg>
        <h3 class="delivery-item__title">Самовивіз</h3>
        <p class="delivery-item__text">Самовивіз з Печерського р-ну, м. Київ
        </p>
      </li>
      <li class="delivery__item delivery-item">
        <svg class="delivery-item__icon">
          <use xlink:href="../img/svg/delivery/symbol-defs.svg#bike-delivery-icon-1"></use>
        </svg>
        <h3 class="delivery-item__title">Доставка</h3>
        <p class="delivery-item__text">
          Доставка на таксі (за тарифами служби таксі)</p>
      </li>
      <li class="delivery__item delivery-item">
        <svg class="delivery-item__icon">
          <use xlink:href="../img/svg/delivery/symbol-defs.svg#cash-on-delivery-icon-1"></use>
        </svg>
        <h5 class="delivery-item__title">Передплата</h5>
        <p class="delivery-item__text">Передплата на картку в розмірі 50% від
          суми замовлення</p>
      </li>
    </ul>
  </div>
</section>