<section class="faq" id="faq">
  <h2 class="faq-title">Популярні запитання</h2>
  <div class="accordion-container">
    <div class="ac">
      <h2 class="ac-header">
        <button type="button" class="ac-trigger">
          СКІЛЬКИ ЧАСУ ПОТРІБНО ДЛЯ ВИГОТОВЛЕННЯ ЗАМОВЛЕННЯ?
        </button>
      </h2>
      <div class="ac-panel">
        <p class="ac-text">
          Замовлення необхідно зробити як мінімум за 3-4 дні до вашого свята.
        </p>
      </div>
    </div>

    <div class="ac">
      <h2 class="ac-header">
        <button type="button" class="ac-trigger">ЧИ Є У ВАС ДОСТАВКА?</button>
      </h2>
      <div class="ac-panel">
        <p class="ac-text">
          Замовлення необхідно зробити як мінімум за 3-4 дні до вашого свята.
        </p>
      </div>
    </div>

    <div class="ac">
      <h2 class="ac-header">
        <button type="button" class="ac-trigger">
          ЧИ ГОТУЄТЕ ВИ ТОРТИ З МАСТИКИ?
        </button>
      </h2>
      <div class="ac-panel">
        <p class="ac-text">
          Замовлення необхідно зробити як мінімум за 3-4 дні до вашого свята.
        </p>
      </div>
    </div>

    <div class="ac">
      <h2 class="ac-header">
        <button type="button" class="ac-trigger">
          ЧИ МОЖНА ЇСТИ ВАШІ ТОРТИ ДІТЯМ ТА ВАГІТНИМ?
        </button>
      </h2>
      <div class="ac-panel">
        <p class="ac-text">
          Замовлення необхідно зробити як мінімум за 3-4 дні до вашого свята.
        </p>
      </div>
    </div>
  </div>
</section>
