<section class="gallery">
     <h2 class="visually-hidden">Gallery</h2>
     <ul class="gallery__list" data-gallery>
	<li class="gallery__item">
		<picture>
			<source media="(min-width:768px)"
				srcset="./img/deskPngWebp1x/menuCakesDesk1x.webp 1x, ./img/deskPngWebp2x/menuCakesDesk2x.webp 2x"
				type="image/webp">
			<source media="(min-width:320px)"
				srcset="./img/mobPngWebp1x/menuCakesMob1x.webp 1x, ./img/mobPngWebp2x/menuCakesMob2x.webp 2x"
				type="image/webp">
			<img class="gallery__img" src="./img/deskPngWebp1x//menuCakesDesk1x.webp" alt="photo cakes"
				loading="lazy">
		</picture>
            <a href="../list.html">
			<button class="gallery__btn" type="button" data-menu="cakes">ТОРТИ
				<span class="gallery__span">
					<svg class="gallery__svg">
						<use href="./img/svg/symbol-defs.svg#ArrowRightCatalog"></use>
					</svg>
				</span>
			</button>
		</a>
	</li>
	<li class="gallery__item">
		<picture>
			<source media="(min-width:768px)"
				srcset="./img/deskPngWebp1x/menuCakeDesk1x.webp 1x, ./img/deskPngWebp2x/menuCakeDesk2x.webp 2x"
				type="image/webp">
			<source media="(min-width:320px)"
				srcset="./img/mobPngWebp1x/menuCakeMob1x.webp 1x, ./img/mobPngWebp2x/menuCakeMob2x.webp 2x"
				type="image/webp">
			<img class="gallery__img" src="./img/deskPngWebp1x/menuCakeDesk1x.webp" alt="photo cake"
				loading="lazy">
		</picture>
            <a href="../list.html">
			<button class="gallery__btn" type="button" data-menu="cake">ТІСТЕЧКА
				<span class="gallery__span">
					<svg class="gallery__svg">
						<use href="./img/svg/symbol-defs.svg#ArrowRightCatalog"></use>
					</svg>
				</span>
			</button>
		</a>
	</li>
	<li class="gallery__item">
		<picture>
			<source media="(min-width:768px)"
				srcset="./img/deskPngWebp1x/menuShuDesk1x.webp 1x, ./img/deskPngWebp2x/menuShuDesk2x.webp 2x"
				type="image/webp">
			<source media="(min-width:320px)"
				srcset="./img/mobPngWebp1x/menuShuMob1x.webp 1x, ./img/mobPngWebp2x/menuShuMob2x.webp 2x"
				type="image/webp">
			<img class="gallery__img" src="./img/deskPngWebp1x/menuShuDesk1x.webp" alt="photo shu" loading="lazy">
		</picture>
            <a href="../list.html">
			<button class="gallery__btn" type="button" data-menu="shu">ШУ
				<span class="gallery__span">
					<svg class="gallery__svg">
						<use href="./img/svg/symbol-defs.svg#ArrowRightCatalog"></use>
					</svg>
				</span>
			</button>
		</a>
	</li>
	<li class="gallery__item">
		<picture>
			<source media="(min-width:768px)"
				srcset="./img/deskPngWebp1x/menuPizzaDesk1x.webp 1x, ./img/deskPngWebp2x/menuPizzaDesk2x.webp 2x"
				type="image/webp">
			<source media="(min-width:320px)"
				srcset="./img/mobPngWebp1x/menuPizzaMob1x.webp 1x, ./img/mobPngWebp2x/menuPizzaMob2x.webp 2x"
				type="image/webp">
			<img class="gallery__img" src="./img/deskPngWebp1x/menuPizzaDesk1x.webp" alt="photo cakes"
				loading="lazy">
		</picture>
            <a href="../list.html">
			<button class="gallery__btn" type="button" data-menu="pizza">ПІЦЦА
				<span class="gallery__span">
					<svg class="gallery__svg">
						<use href="./img/svg/symbol-defs.svg#ArrowRightCatalog"></use>
					</svg>
				</span>
			</button>
		</a>
	</li>
     </ul>
</section>