<section class="hero">
  <div class="container">
    <h1 class="title">Авторські десерти</h1>
    <div class="inner">
      <div class="shu-block">
        <span class="shu-block__text"
          >заварні
          <br />
          шу</span
        >

        <picture class="shu-block__picture">
          <source
            srcset="
              ./img/deskPngWebp1x/shuHeroDesk1x.webp 1x,
              ./img/deskPngWebp2x/shuHeroDesk2x.webp 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./img/deskPngWebp1x/shuHeroDesk1x.webp" alt="Shu cake" />
        </picture>

        <svg class="shu-block__top-vector">
          <use href="./img/svg/hero/symbol-defs.svg#Vector-5" />
        </svg>

        <svg class="shu-block__bottom-vector">
          <use href="./img/svg/hero/symbol-defs.svg#Vector-6" />
        </svg>
      </div>

      <div class="mousse-block">
        <span class="mousse-block__text">мусові торти</span>

        <picture class="mousse-block__picture">
          <source
            srcset="
              ./img/deskPngWebp1x/musHeroDesk1x.webp 1x,
              ./img/deskPngWebp2x/musHeroDesk2x.webp 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./img/deskPngWebp1x/musHeroDesk1x.webp" alt="Mousse cake" />
        </picture>
      </div>

      <div class="mixer-block">
        <picture class="mixer-block__picture">
          <source
            srcset="
              ./img/deskPngWebp1x/mixerHeroDesk1x.webp 1x,
              ./img/deskPngWebp2x/mixerHeroDesk2x.webp 2x
            "
            media="(min-width: 768px)"
          />

          <img
            src="./img/deskPngWebp1x/mixerHeroDesk1x.webp"
            alt="Mixer with cream"
          />
        </picture>

        <svg class="mixer-block__left-vector">
          <use href="./img/svg/hero/symbol-defs.svg#Vector-8" />
        </svg>

        <svg class="mixer-block__right-vector">
          <use href="./img/svg/hero/symbol-defs.svg#Vector-7" />
        </svg>
      </div>

      <div class="tart-block">
        <span class="tart-block__text">апетитні тарти</span>

        <picture class="tart-block__picture">
          <source
            srcset="
              ./img/deskPngWebp1x/cakeHeroDesk1x.webp 1x,
              ./img/deskPngWebp2x/cakeHeroDesk2x.webp 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./img/deskPngWebp1x/cakeHeroDesk1x.webp" alt="Tart" />
        </picture>

        <svg class="tart-block__left-vector">
          <use href="./img/svg/hero/symbol-defs.svg#Vector-10" />
        </svg>

        <svg class="tart-block__top-left-vector">
          <use href="./img/svg/hero/symbol-defs.svg#Vector-4" />
        </svg>

        <svg class="tart-block__top-right-vector">
          <use href="./img/svg/hero/symbol-defs.svg#Vector-3" />
        </svg>

        <svg class="tart-block__right-vector">
          <use href="./img/svg/hero/symbol-defs.svg#Vector-1" />
        </svg>

        <p class="tart-block__bottom-text">
          Виготовляємо десерти під замовлення з любов’ю та користю
        </p>
      </div>
    </div>

    <ul class="socials-list">
      <li class="socials-list__item">
        <a href="#">
          <svg class="socials-list__icon">
            <use href="./img/svg/symbol-defs.svg#tg" /></svg
        ></a>
      </li>

      <li class="socials-list__item">
        <a href="#">
          <svg class="socials-list__icon">
            <use href="./img/svg/symbol-defs.svg#facebook" /></svg
        ></a>
      </li>

      <li class="socials-list__item">
        <a href="#">
          <svg class="socials-list__icon">
            <use href="./img/svg/symbol-defs.svg#insta" /></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
