<section class="insta">
	<h2>Instagram</h2>
	<ul class="insta__list">
		<li class="insta__item">
			<picture>
				<source media="(min-width:768px)"
					srcset="./img/deskPngWebp1x/instagram1-1x.webp 1x, ./img/deskPngWebp2x/instagramDesk1-2x.webp 2x"
					type="image/webp">
				<source media="(min-width:320px)"
					srcset="./img/mobPngWebp1x/instagramMob1x.webp, ./img/mobPngWebp2x/instagramMob2x.webp 2x" type="image/webp">
				<img class="insta__img" src="./img/deskPngWebp1x/instagram1-1x.webp" alt="photo cake" loading="lazy">
			</picture>
		</li>
		<li class="insta__item">
			<picture>
				<source media="(min-width:768px)"
					srcset="./img/deskPngWebp1x/instagram2-1x.webp 1x, ./img/deskPngWebp2x/instagramDesk2-2x.webp 2x"
					type="image/webp">
				<source media="(min-width:320px)"
					srcset="./img/mobPngWebp1x/instagramMob2-1x.webp 1x, ./img/mobPngWebp2x/instagramMob2-2x.webp 2x"
					type="image/webp">
				<img class="insta__img" src="./img/deskPngWebp1x/instagram2-1x.webp" alt="photo dough" loading="lazy">
			</picture>
		</li>
		<li class="insta__item">
			<picture>
				<source media="(min-width:768px)"
					srcset="./img/deskPngWebp1x/instagram3-1x.webp 1x, ./img/deskPngWebp2x/instagramDesk3-2x.webp 2x"
					type="image/webp">
				<source media="(min-width:320px)"
					srcset="./img/mobPngWebp1x/instagramMob3-1x.webp 1x, ./img/mobPngWebp2x/instagramMob3-2x.webp 2x"
					type="image/webp">
				<img class="insta__img" src="./img/deskPngWebp1x/instagram3-1x.webp" alt="photo pizza" loading="lazy">
		<li class="insta__item">
			<picture>
				<source media="(min-width:768px)"
					srcset="./img/deskPngWebp1x/instagram4-1x.webp 1x, ./img/deskPngWebp2x/instagramDesk4-2x.webp 2x"
					type="image/webp">
				<source media="(min-width:320px)"
					srcset="./img/mobPngWebp1x/instagramMob4-1x.webp 1x, ./img/mobPngWebp2x/instagramMob4-2x.webp 2x"
					type="image/webp">
				<img class="insta__img" src="./img/deskPngWebp1x/instagram4-1x.webp" alt="photo cake fistashka" loading="lazy">
			</picture>
		</li>
		<li class="insta__item">
			<picture>
				<source media="(min-width:768px)"
					srcset="./img/deskPngWebp1x/napoleonDesk1x.webp 1x, ./img/deskPngWebp2x/napoleonDesk2x.webp 2x"
					type="image/webp">
				<source media="(min-width:320px)"
					srcset="./img/mobPngWebp1x/napoleonMob1x.webp 1x, ./img/mobPngWebp2x/napoleonMob2x.webp 2x"
					type="image/webp">
				<img class="insta__img" src="./img/deskPngWebp1x/napoleonDesk1x.webp" alt="photo cake napoleon" loading="lazy">
			</picture>
		</li>
		<li class="insta__item">
			<picture>
				<source media="(min-width:768px)"
					srcset="./img/deskPngWebp1x/instagramDesk-6-1x.webp 1x, ./img/deskPngWebp2x/instagramDesk-6-2x.webp 2x"
					type="image/webp">
				<source media="(min-width:320px)"
					srcset="./img/mobPngWebp2x/instagramMob-6-2x.webp 1x, ./img/mobPngWebp1x/instagramMob-6-1x.webp 2x"
					type="image/webp">
				<img class="insta__img" src="./img/deskPngWebp1x/instagramDesk-6-1x.webp" alt="my photo" loading="lazy">
			</picture>
		</li>
	</ul>
	<div class="insta__swipBtnContainer">
	      <button class="insta__swipBtn insta__swipBtn--left">
	      	<svg class="insta__swipSvg">
	      		<use href="./img/svg/symbol-defs.svg#ArrowLeftCatalog"></use>
	      	</svg>
		</button>
		<button class="insta__swipBtn insta__swipBtn--right">
			<svg class="insta__swipSvg">
				<use href="./img/svg/symbol-defs.svg#ArrowRightCatalog"></use>
			</svg>
		</button>
	</div>
	<div class="insta__btnContainer">
		<span class="insta__svgContainer">
		      <svg class="insta__Vector36">
			      <use href="./img/svg/insta/symbol-defs.svg#Vector-36"></use>
		      </svg>
		</span>
		<button class="insta__btn" type="button">ЗАВІТІТИ НА СТОРІНКУ</button>
		<span class="insta__Vector34">
			<svg class="insta__svg">
				<use href="./img/svg/insta/symbol-defs.svg#Vector-34"></use>
			</svg>
		</span>
		<span class="insta__Vector35">
			<svg class="insta__svg">
				<use href="./img/svg/insta/symbol-defs.svg#Vector-35"></use>
			</svg>
		</span>
	</div>
</section>