<section class="insta">
	<h2>Instagram</h2>
      <div class="swiper insta-swiper">
		<ul class="insta__listSwiper swiper-wrapper">
			<li class="insta__itemSwiper swiper-slide">
					<source media="(min-width:320px)"
						srcset="./img/mobPngWebp1x/instagramMob1x.webp, ./img/mobPngWebp2x/instagramMob2x.webp 2x"
						type="image/webp">
					<img class="insta__imgSwiper" src="./img/deskPngWebp1x/instagram1-1x.webp" alt="photo cake" loading="lazy">
				</picture>
			</li>
			<li class="insta__itemSwiper swiper-slide">
				<picture>
					<source media="(min-width:320px)"
						srcset="./img/mobPngWebp1x/instagramMob2-1x.webp 1x, ./img/mobPngWebp2x/instagramMob2-2x.webp 2x"
						type="image/webp">
					<img class="insta__imgSwiper" src="./img/deskPngWebp1x/instagram2-1x.webp" alt="photo dough" loading="lazy">
				</picture>
			</li>
			<li class="insta__itemSwiper swiper-slide">
				<picture>
					<source media="(min-width:320px)"
						srcset="./img/mobPngWebp1x/instagramMob3-1x.webp 1x, ./img/mobPngWebp2x/instagramMob3-2x.webp 2x"
						type="image/webp">
					<img class="insta__imgSwiper" src="./img/deskPngWebp1x/instagram3-1x.webp" alt="photo pizza" loading="lazy">
			<li class="insta__itemSwiper swiper-slide">
				<picture>
					<source media="(min-width:320px)"
						srcset="./img/mobPngWebp1x/instagramMob4-1x.webp 1x, ./img/mobPngWebp2x/instagramMob4-2x.webp 2x"
						type="image/webp">
					<img class="insta__imgSwiper" src="./img/deskPngWebp1x/instagram4-1x.webp" alt="photo cake fistashka"
						loading="lazy">
				</picture>
			</li>
			<li class="insta__itemSwiper swiper-slide">
				<picture>
					<source media="(min-width:320px)"
						srcset="./img/mobPngWebp1x/napoleonMob1x.webp 1x, ./img/mobPngWebp2x/napoleonMob2x.webp 2x"
						type="image/webp">
					<img class="insta__imgSwiper" src="./img/deskPngWebp1x/napoleonDesk1x.webp" alt="photo cake napoleon"
						loading="lazy">
				</picture>
			</li>
			<li class="insta__itemSwiper swiper-slide">
				<picture>
					<source media="(min-width:320px)"
						srcset="./img/mobPngWebp2x/instagramMob-6-2x.webp 1x, ./img/mobPngWebp1x/instagramMob-6-1x.webp 2x"
						type="image/webp">
					<img class="insta__imgSwiper" src="./img/deskPngWebp1x/instagramDesk-6-1x.webp" alt="my photo"
						loading="lazy">
				</picture>
			</li>
		</ul>
		<div class="insta__swiperPaginationContainer">
			<button class="insta__btnSwiper insta__swipBtn--prev">
				<svg class="insta__svgSwiper">
					<use href="./img/svg/symbol-defs.svg#ArrowLeftCatalog"></use>
				</svg>
			</button>
			<div class="insta__swiperPagination swiper-pagination"></div>
			<button class="insta__btnSwiper insta__swipBtn--next">
				<svg class="insta__svgSwiper">
					<use href="./img/svg/symbol-defs.svg#ArrowRightCatalog"></use>
				</svg>
			</button>
		</div>
	</div>
	<ul class="insta__list">
		<li class="insta__item">
			<picture>
				<source media="(min-width:768px)"
					srcset="./img/deskPngWebp1x/instagram1-1x.webp 1x, ./img/deskPngWebp2x/instagramDesk1-2x.webp 2x"
					type="image/webp">
				<img class="insta__img" src="./img/deskPngWebp1x/instagram1-1x.webp" alt="photo cake"
					loading="lazy">
			</picture>
		</li>
		<li class="insta__item">
			<picture>
				<source media="(min-width:768px)"
					srcset="./img/deskPngWebp1x/instagram2-1x.webp 1x, ./img/deskPngWebp2x/instagramDesk2-2x.webp 2x"
					type="image/webp">
				<img class="insta__img" src="./img/deskPngWebp1x/instagram2-1x.webp" alt="photo dough"
					loading="lazy">
			</picture>
		</li>
		<li class="insta__item">
			<picture>
				<source media="(min-width:768px)"
					srcset="./img/deskPngWebp1x/instagram3-1x.webp 1x, ./img/deskPngWebp2x/instagramDesk3-2x.webp 2x"
					type="image/webp">
				<img class="insta__img" src="./img/deskPngWebp1x/instagram3-1x.webp" alt="photo pizza"
					loading="lazy">
		<li class="insta__item">
			<picture>
				<source media="(min-width:768px)"
					srcset="./img/deskPngWebp1x/instagram4-1x.webp 1x, ./img/deskPngWebp2x/instagramDesk4-2x.webp 2x"
					type="image/webp">
				<img class="insta__img" src="./img/deskPngWebp1x/instagram4-1x.webp" alt="photo cake fistashka"
					loading="lazy">
			</picture>
		</li>
		<li class="insta__item">
			<picture>
				<source media="(min-width:768px)"
					srcset="./img/deskPngWebp1x/napoleonDesk1x.webp 1x, ./img/deskPngWebp2x/napoleonDesk2x.webp 2x"
					type="image/webp">
				<img class="insta__img" src="./img/deskPngWebp1x/napoleonDesk1x.webp" alt="photo cake napoleon"
					loading="lazy">
			</picture>
		</li>
		<li class="insta__item">
			<picture>
				<source media="(min-width:768px)"
					srcset="./img/deskPngWebp1x/instagramDesk-6-1x.webp 1x, ./img/deskPngWebp2x/instagramDesk-6-2x.webp 2x"
					type="image/webp">
				<img class="insta__img" src="./img/deskPngWebp1x/instagramDesk-6-1x.webp" alt="my photo"
					loading="lazy">
			</picture>
		</li>
	</ul>
	<div class="insta__btnContainer">
		<svg class="insta__svg insta__Vector36">
			 <use href="./img/svg/insta/symbol-defs.svg#Vector-36"></use>
		</svg>
		<button class="insta__btn" type="button">ЗАВІТІТИ НА СТОРІНКУ</button>
		<div class="insta__svgVector3435">
		<svg class="insta__svg insta__Vector34">
			<use href="./img/svg/insta/symbol-defs.svg#Vector-34"></use>
		</svg>
		<svg class="insta__svg insta__Vector35">
			<use href="./img/svg/insta/symbol-defs.svg#Vector-35"></use>
		</svg>
		</div>
	</div>
</section>