<section class="pop-up pop-up_thanks" id="pop-up_thanks" aria-hidden="true">
  <div class="pop-up__container">
    <div class="pop-up__wrapper" aria-modal="true" role="dialog"
      aria-labelledby="pop-up__title">
      <div class="pop-up__image">
        <img
          src="../img/mobPngWebp1x/orderMob1x.webp"
          alt="Тортик Медовик" />
      </div>

      <h2 id="pop-up__title" class="pop-up__title">Дякую за замовлення!</h2>

      <p class="pop-up__text">Ваше замовлення прийняте в обробку та незабаром
        вам зателефонує менеджер для уточнення деталей</p>

      <div class="pop-up__buttons">
        <a class="pop-up__btn btn_main" href="../index.html">
          На головну
        </a>

        <a class="pop-up__btn btn_main btn_second" href="../list.html">
          продовжити покупки
        </a>
      </div>
    </div>

    <button class="pop-up__btn_close" data-micromodal-close>
      <svg class="delivery-item__icon" data-micromodal-close>
        <use xlink:href="../img/svg/symbol-defs.svg#close"></use>
      </svg>
    </button>
  </div>
</section>