@import url('../src/scss/about_me.scss');
@import url('../src/scss/bestsellers.scss');
@import url('../src/scss/breadcrumbs.scss');
@import url('../src/scss/catalog_item_carousel.scss');
@import url('../src/scss/catalog_item_contact_form.scss');
@import url('../src/scss/catalog_item.scss');
@import url('../src/scss/product_item.scss');
@import url('../src/scss/catalog_tabs.scss');
@import url('../src/scss/catalog_upsell.scss');
@import url('../src/scss/catalog.scss');
@import url('../src/scss/checkout.scss');
@import url('../src/scss/contact_form.scss');
@import url('../src/scss/delivery.scss');
@import url('../src/scss/faq.scss');
@import url('../src/scss/footer.scss');
@import url('../src/scss/gallery.scss');
@import url('../src/scss/header.scss');
@import url('../src/scss/hero.scss');
@import url('../src/scss/instagram.scss');
@import url('../src/scss/pop_up.scss');
@import url('../src/scss/why_grann.scss');
@import url('../src/scss/with_love_picture.scss');

@font-face {
  font-family: 'Jeff Script';
  src: url('./assets/fonts/JeffScript.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
