@import "../styles/themes/colors";
@import "../styles/themes/_fonts";

.bestsellers {
  min-width: 320px;
  padding: 50px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  .container {
    padding: 56px 10px;
    margin: 0 auto;

    @media (min-width: 768px) {
      padding: 72px 15px;
    }

    @media (min-width: 1024px) {
      max-width: 1000px;
      padding: 80px 25px;
    }

    @media (min-width: 1440px) {
      max-width: 1184px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 32px;

    @media (min-width: 768px) {
      margin-bottom: 57px;
    }
  }

  &__slider {
    position: relative;
    margin-bottom: 102px;
    overflow: visible;

    // &-wrapper.swiper-wrapper {
    //   align-items: center;
    // }

    &-slide.swiper-slide {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
    }

    &-buttons {
      position: absolute;
      width: 100%;
      height: 27px;
      bottom: -46px;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      border: 1px solid #000;
      z-index: 9999999;
    }

    &-btn.swiper-button-prev,
    &-btn.swiper-button-next {
      position: static;
      width: 76px;
      height: 27px;
      border: 1px solid $main-brown;
      border-radius: 22px;
      // background: url("../img/svg/symbol-defs.svg#arrleft") 0 0 /100% no-repeat;

      &:hover {
        background-color: $main-pastel;
      }
    }

    &-pagination.swiper-pagination {
      width: 150px;
      height: 27px;

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: $main-pastel;
        border-radius: 50%;
        margin: 0 8px;
        cursor: pointer;
      }

      .swiper-pagination-bullet-active {
        background-color: $main-brown;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    &-btn {
      padding: 10px 38px;
      border-radius: 10px;
      background-color: $main-pastel;
      font-weight: 300;
      font-size: 18px;
      line-height: 133%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      text-align: center;
      color: $main-brown;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  &::after {
    display: none;
  }
}
