$main-brown: #705a66;
$main-white: #f5f7f8;
$main-pastel: #f5eee0;
$font-family: 'Montserrat', sans-serif;
$second-family: 'Jeff Script', sans-serif;
$third-family: 'Alumni Sans', sans-serif;
.faq {
  padding: 50px 10px ;
  margin: 0 auto;
  text-align: center;
  max-width: 1028px;
}
.faq-title{
  font-size: 80px;
  line-height: 100%;
}
.ac {
  border: none !important;
  margin-top: 40px !important;


}
.ac .ac-trigger {
  font-family: $font-family !important;
  font-weight: 300 !important;
    font-size: 18px !important;
    line-height: 133% !important;
    letter-spacing: 0.02em !important;
    text-transform: uppercase !important;
    color:$main-brown!important ;
    background: #f5f7f8 !important;

    border-bottom: 1px solid $main-brown !important;
    padding: 0px 94px 6px 0px  !important;


}
.ac .ac-trigger::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 32"><path d="M25.004 29.853c1.339 1.339 3.51 1.339 4.849 0l21.819-21.819c1.339-1.339 1.339-3.51 0-4.849s-3.51-1.339-4.849 0l-19.395 19.395-19.395-19.395c-1.339-1.339-3.51-1.339-4.849 0s-1.339 3.51 0 4.849l21.819 21.819zM24 22.857v4.571h6.857v-4.571h-6.857z" fill="%23705a66"/></svg>') !important;
  display: inline-block;
  width: 24px !important;

  height: 14px !important;

  margin-left: 10px;

  vertical-align: middle;
  top : 7px !important;
  right: 0 !important;

}

.ac .ac-trigger[aria-expanded="true"]::after {
  transform: rotate(180deg);

}
.ac-panel {
  background-color:#f5f7f8;
  text-align: left;


}
.ac-text {
    font-weight: 300 !important;
      font-size: 16px !important;
      font-family: $font-family !important;

      font-size: 16px !important;
      color: $main-brown !important;
      padding: 0 !important;
        padding-top: 16px !important;
}

@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {
  .faq {
      padding: 60px 10px;


    }

    .faq-title {
      font-size: 100px;
      line-height: 110%;
    }

    .ac {

      margin-top: 64px !important;
 }

    .ac .ac-trigger {

      font-size: 24px !important;

      padding: 0px 94px 24px 0px !important;


    }



    .ac-text {


      font-size: 18px !important;


    }
}


@media (min-width: 1400px) {

}