@import '../styles/themes/colors';
@import '../styles/themes/fonts';

.hero {
  height: 619px;
  background: url(../img/svg/hero/background.svg);
  background-size: 130% 619px;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 16px 10px;
  max-width: 375px;
}

.title {
  color: $main-brown;
  text-align: center;
  font-size: 80px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
}

.inner {
  width: 100%;
  max-width: 355px;
  height: 318px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// ==== Shu block ==== //
.shu-block {
  position: absolute;
  width: 100%;
  max-width: 98px;
  height: 120px;
  top: 0;
  left: 0;

  &__text {
    position: absolute;
    top: 8px;
    left: 8px;
    color: $main-brown;
    text-align: center;

    font-family: 'Jeff Script';
    font-size: 28px;
    line-height: 1.07;
    transform: rotate(-18deg);
  }

  &__picture {
    position: absolute;
    top: 42px;
    left: 14px;

    width: 74px;
    height: 81px;
  }

  &__top-vector {
    position: absolute;
    top: 67px;
    left: 71px;
    fill: none;
    stroke: $main-brown;
    width: 8px;
    height: 11px;
  }

  &__bottom-vector {
    position: absolute;
    top: 110px;
    left: 39px;

    fill: none;
    stroke: $main-brown;
    width: 24px;
    height: 8px;
  }
}
// ========================= //

// ==== Mousse cake block ==== //
.mousse-block {
  display: none;
}
// ========================= //

// ==== Mixer block ==== //
.mixer-block {
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translate(-50%);

  width: 152px;
  height: 228px;

  &__picture {
    width: 100%;
    max-width: 142px;

    position: absolute;
    top: 14px;
    left: 16px;

    z-index: 1;
  }

  &__left-vector {
    position: absolute;
    top: 63px;
    left: 5px;
    fill: none;
    stroke: $main-brown;

    width: 23px;
    height: 50px;
  }

  &__right-vector {
    position: absolute;
    top: 5px;
    right: -7px;
    fill: none;
    stroke: $main-brown;
    width: 30px;
    height: 46px;
  }
}

// ========================= //

// ==== Tart block ==== //
.tart-block {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 132px;
  height: 170px;

  &__text {
    position: absolute;
    left: 22px;
    bottom: 82px;
    transform: rotate(21deg);

    text-align: center;
    color: $main-brown;
    font-family: 'Jeff Script';
    font-size: 28px;
    line-height: 1.07;
  }

  &__picture {
    position: absolute;
    top: 18px;
    left: 9px;
  }

  &__left-vector {
    position: absolute;
    top: 107px;
    left: 12px;
    fill: none;
    stroke: $main-brown;

    width: 10px;
    height: 30px;
  }

  &__top-left-vector {
    position: absolute;
    top: 75px;
    left: 27px;
    fill: none;
    stroke: $main-brown;

    width: 6px;
    height: 8px;
  }

  &__right-vector {
    position: absolute;
    top: 91px;
    left: 102px;
    fill: none;
    stroke: $main-brown;

    width: 4px;
    height: 16px;
  }

  &__top-right-vector {
    position: absolute;
    top: 71px;
    left: 37px;
    fill: $main-brown;
    stroke: $main-brown;

    width: 3px;
    height: 8px;
  }

  &__bottom-text {
    display: block;
    max-width: 166px;

    position: absolute;
    left: 0;
    top: 266px;

    font-size: 14px;
    font-weight: 300;
    line-height: 1.28;
  }
}
// ========================= //

// ==== Socials block ==== //

.socials-list {
  position: absolute;
  top: 170px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
  }

  &__icon {
    fill: $main-brown;
    width: 20px;
    height: 20px;

    transition: all 150ms linear;
  }

  &__item:is(:hover, :focus) &__icon {
    transform: scale(1.3);
  }
}

// ========================= //
// ========= TABLET ======== //
// ========================= //

@media screen and (min-width: 768px) {
  .hero {
    height: 727px;
    background-size: 110% 727px;
  }

  .container {
    max-width: 768px;
  }

  .title {
    margin-bottom: 40px;
  }

  .inner {
    max-width: 654px;
    height: 536px;
  }

  // ==== Shu block ==== //
  .shu-block {
    max-width: 195px;
    height: 140px;
    left: 40px;

    &__text {
      top: 0px;
      left: 0px;
    }

    &__picture {
      top: 0;
      left: 46px;
      width: 134px;
      height: auto;
    }

    &__top-vector {
      top: 45px;
      left: 149px;

      width: 12px;
      height: 17px;
    }

    &__bottom-vector {
      top: 120px;
      left: 90px;

      width: 40px;
      height: 13px;
    }
  }
  // ========================= //

  // ==== Mousse cake block ==== //
  .mousse-block {
    display: unset;
    position: absolute;
    top: 190px;
    width: 240px;
    height: 480px;

    &__text {
      position: absolute;

      left: 10px;
      transform: rotate(-19deg);
      color: $main-brown;
      font-family: 'Jeff Script';
      font-size: 28px;
      line-height: 1.07;
    }

    &__picture {
      position: absolute;
      top: 20px;
      transform: rotate(-15deg);
      width: 100%;
      max-width: 280px;
    }
  }
  // ========================= //

  // ==== Mixer block ==== //
  .mixer-block {
    top: 0px;

    width: 246px;
    height: 380px;

    &__picture {
      max-width: 236px;
      top: 9px;
      left: 10px;
    }

    &__left-vector {
      top: 120px;
      left: -10px;

      width: 39px;
      height: 80px;
    }

    &__right-vector {
      width: 46px;
      height: 75px;
    }
  }

  // ========================= //

  // ==== Tart block ==== //
  .tart-block {
    bottom: unset;
    width: 200px;
    height: 290px;

    &__text {
      left: 75px;
      bottom: 145px;
    }

    &__picture {
      top: 28px;
      left: 2px;
    }

    &__left-vector {
      top: 182px;
      left: 10px;

      width: 16px;
      height: 48px;
    }

    &__top-left-vector {
      top: 122px;
      left: 37px;

      width: 10px;
      height: 13px;
    }

    &__right-vector {
      top: 161px;
      left: 156px;

      width: 8px;
      height: 21px;
    }

    &__top-right-vector {
      top: 117px;
      left: 56px;

      width: 4px;
      height: 11px;
    }

    &__bottom-text {
      max-width: 287px;

      left: unset;
      right: 16px;
      top: 410px;
    }
  }
  // ========================= //

  // ==== Socials block ==== //

  .socials-list {
    top: 370px;
    right: 20px;

    &__item {
      width: 24px;
      height: 24px;
    }

    &__icon {
      width: 24px;
      height: 24px;
    }
  }
}

// ========================= //
// ======== DESKTOP ======== //
// ========================= //

@media screen and (min-width: 1440px) {
  .hero {
    height: 1097px;
    background-size: 115% 1097px;
  }

  .container {
    max-width: 1360px;
  }

  .title {
    font-size: 100px;
    line-height: 1.1;
    margin-bottom: 6px;
  }

  .inner {
    max-width: 1012px;
    height: 640px;
  }

  // ==== Shu block ==== //
  .shu-block {
    max-width: 280px;
    height: 238px;
    left: 25px;

    &__text {
      top: 100px;
      font-size: 36px;
      line-height: 1.17;
    }

    &__picture {
      top: 0;
      left: 54px;
      width: 100%;
    }

    &__top-vector {
      top: 70px;
      left: 212px;

      width: 19px;
      height: 27px;
    }

    &__bottom-vector {
      top: 186px;
      left: 123px;

      width: 64px;
      height: 22px;
    }
  }
  // ========================= //

  // ==== Mousse cake block ==== //
  .mousse-block {
    top: 311px;
    width: 300px;

    &__text {
      left: 10px;
      font-size: 36px;
      line-height: 1.17;
    }

    &__picture {
      top: 6px;
      left: 56px;
      max-width: 490px;
    }
  }
  // ========================= //

  // ==== Mixer block ==== //
  .mixer-block {
    width: 384px;
    height: 594px;

    &__picture {
      max-width: 369px;
      top: 14px;
      left: 16px;
    }

    &__left-vector {
      top: 143px;
      left: -8px;

      width: 59px;
      height: 126px;
    }

    &__right-vector {
      width: 72px;
      height: 119px;

      top: 0;
      right: 0;
    }
  }

  // ========================= //

  // ==== Tart block ==== //
  .tart-block {
    right: -40px;

    width: 358px;
    height: 442px;

    &__text {
      top: 135px;
      left: 155px;
      bottom: unset;
      width: 140px;

      font-size: 36px;
      line-height: 1.17;
    }

    &__picture {
      top: 2px;
      left: 0;
    }

    &__left-vector {
      top: 278px;
      left: 30px;

      width: 25px;
      height: 76px;
    }

    &__top-left-vector {
      top: 196px;
      left: 70px;

      width: 16px;
      height: 20px;
    }

    &__right-vector {
      top: 236px;
      left: 266px;

      width: 12px;
      height: 32px;
    }

    &__top-right-vector {
      top: 184px;
      left: 96px;

      width: 6px;
      height: 16px;
    }

    &__bottom-text {
      top: 453px;
      font-size: 16px;
      line-height: 1.38;
    }
  }
  // ========================= //

  // ==== Socials block ==== //

  .socials-list {
    top: 600px;
    right: 20px;
    gap: 20px;

    &__item {
      width: 24px;
      height: 24px;
    }

    &__icon {
      width: 24px;
      height: 24px;
    }
  }

  // ========================= //
}
