@import "swiper/css";
@import '../styles/themes/colors';
@import '../styles/themes/fonts';
@import '../styles/layout/grid';
@import '../styles/layout/mixins';

.insta{
	place-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
	@include grid-container(1, $gutter-desktop, $margin-desktop);

	@media (max-width: 768px) {
		@include grid-container(1, $gutter-mobile, $margin-mobile);
	}

	&-swiper {
		@media (min-width:768px) {
				display: none;
		}
	}
	
	&__itemSwiper {
		max-width: 261px;
	}

	&__imgSwiper {
		width: 261px;
		height: 261px;
	}
	
	&__swiperPaginationContainer {
		padding: 24px 0px 32px 0px;
		@include flex(flex, space-between, center);
	}

	&__btnSwiper {
		outline: none;
		width: 76px;
		height: 27px;
		text-align: center;
		border: 1px solid $main-brown;
		border-radius: 25px;
		&:hover,
		&:focus {
			background-color: $main-pastel ;
		}
	}
	
	&__svgSwiper {
		width: 41px;
		height: 27px;
		fill: $main-brown;
	}

	&__swiperPagination {
		bottom: 0;
		position: static;
	}

	&__list {
		display: none;
		@media (min-width:768px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;
		}
	}
	
	&__btnContainer {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		position: relative;
		padding-top: 46px;
		@media (min-width:1024px) {
			width: 780px;
		}
	}

	&__btn {
		border: 2px solid transparent;
		color: $main-brown;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: $main-pastel;
		border-radius: 10px;
		outline: none;
		&:hover,
		&:focus {
			border: 2px solid $main-brown;
		}
		@media (min-width:1024px) {
			margin-left: 126px;
			max-width: 604px;
		}
	}
	
	&__svg {
		display: none;
		fill: none;
		stroke: $main-brown;
		@media (min-width:1024px) {
			display: block;
		}
	}

	&__Vector36 {
		position: absolute;
		top: 0;
		left: 0;
		width: 76px;
		height: 90px;
	}
	
	&__svgVector3435 {
		position: absolute;
		top: 12px;
		right: 0;
	}
	
	&__Vector34 {
		width: 26px;
		height: 24px;
	}
	
	&__Vector35 {
		width: 23px;
		height: 12px;
	}

	.swiper-pagination-bullet {
		width: 11px;
		height: 11px;
		background-color: $main-pastel;
		margin: 0 5px;
		border-radius: 50%;
		opacity: 0.5;
		transition: opacity 0.3s;
	}
	
	.swiper-pagination-bullet-active {
		background-color: $main-brown;
		opacity: 1;
	}
}



