@import "../styles/themes/colors";
@import "../styles/themes/_fonts";

.product-item {
    max-width: 393px;

  &__image {
    width: 100%;
    height: 393px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
  }

  &__cart {
    width: 30px;
    height: 30px;
    flex-basis: 30px;
    fill: $main-brown;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 137%;
    color: $main-brown;
  }
}
