.picture {
  position: relative;
  height: 550px;
  display: none;
  background: url("../img/deskPngWebp1x/wineDesk1x.webp") center / cover no-repeat;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1024px) {
    height: 625px;
  }

  &__image {
    width: 500px;
    height: 250px;
    position: absolute;
    left: 50px;
    top: 180px;
    object-fit: cover;

    @media (min-width: 1024px) {
      width: 600px;
      left: 4.5%;
    }

    @media (min-width: 1440px) {
      width: 650px;
      left: 10%;
    }
  }
}
