*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 100%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  line-height: 1.6;
  background-color: $main-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: 1.2;
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
  background-color: transparent;
}

table {
  border-collapse: collapse;
  width: 100%;
}

caption {
  text-align: left;
}

fieldset {
  border: none;
}

legend {
  padding: 0;
}

textarea {
  resize: vertical;
}
